

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <ul style="display: flex; gap: 14px; list-style: none;">
            <li><a href="/">home</a></li>
            <li><a href="/register">register</a></li>
            <li><a href="/login">login</a></li>
            <li><a href="/profile">profile</a></li>
            <li><a href="/logout">logout</a></li>
        </ul>
    </header>
    <h1>login form</h1>
    <a href="/logout">logout</a>
    <br><br>
    <form action="/login" method="post">
        <label for="email">email:</label>
        <input type="email" name="email" required>
        <br><br>
        <label for="password">Password:</label>
        <input type="password" name="password" required>
        <br><br>
    
        <button type="submit">Login</button>
        <a href="/auth/google">login with goole</a>
    </form>
</body>
</html>