

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <ul style="display: flex; gap: 14px; list-style: none;">
            <li><a href="/">home</a></li>
            <li><a href="/register">register</a></li>
            <li><a href="/login">login</a></li>
            <li><a href="/profile">profile</a></li>
            <li><a href="/logout">logout</a></li>
        </ul>
    </header>
    <h1>register form</h1>
    <form action="/register" method="post">
        <label for="username">username:</label>
        <input type="username" name="username" required>
        <br><br>
     
        <label for="password">Password:</label>
        <input type="password" name="password" required>
        <br><br>
    
        <button type="submit">register</button>
    </form>
</body>
</html>